<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
          max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>상품 수정 폼</h2>
    </div>
    <h4 class="mb-3">상품 수정</h4>
    {{#product}}
    <form action="/products/update" th:action method="post">
    <input name="id" type="hidden" value="{{id}}"/>
        <div>
            <label for="itemName">상품명</label>
            <input type="text" id="name" name="name" class="form-control" value="{{name}}">
        </div>
        <div>
            <label for="price">가격</label>
            <input type="number" id="price" name="price" class="form-control" value="{{price}}">
        </div>
        <div>
            <label for="price">수량</label>
            <input type="number" id="stock" name="stock" class="form-control" value="{{stock}}">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 수정</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='/products'"
                        type="button">취소</button>
            </div>
        </div>
    {{/product}}
    </form>
</div> <!-- /container -->
</body>
</html>